/*
 * Public Domain or Creative Commons Zero.
 */

@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document domain("gitlab.com") {
	.avatar,
	.avatar-circle,
	.avatar-container {
		border-radius: 3px;
	}
  
	.top-area .nav-links li a,
	.wiki-page-header .nav-links li a,
	.nav-links li a {
		padding-bottom: 0.25em;
		padding-top: 0.25em;
	}
	
	.nav-block .controls {
		margin-top: 6px;
	  padding-bottom: 4px;
  }
	
	.btn {
		padding-bottom: 0.1em;
		padding-top: 0.1em;
	}
	
	.event-item {
		padding-bottom: 0.25em;
		padding-top: 0.25em;
	}
	
	.event-item .system-note-image {
		top: 7px;
	}
}
